<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <style>
        #map {
            height: 800px;
        }

        .orders-table-container {
            height: 800px;
            overflow-y: scroll;
        }

        tr.done {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-8">
        <div id="map" style="height:800px"></div>
    </div>
    <div ng-app="app" ng-controller="Orders">
        <div class="col-md-2">
            <input type="button" ng-click="stopOrdersGeneration()" value="Остановить">
        </div>
        <div class="col-md-2">
            <div class="row orders-table-container">
                <table class="table">
                    <tr>
                        <th>Номер заказа</th>
                        <th>Статус</th>
                        <th>Время доставки (сек)</th>
                    </tr>
                    <tr ng-repeat="order in orders | orderBy:_index" ng-class="{'done':order.status=='done'}">
                        <td class="index">{{$index}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.deliveryTime}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/AnimatedMarker.js"></script>
<script src="js/copter.js"></script>
<script src="js/station.js"></script>
<script src="js/order.js"></script>
<script src="js/manager.js"></script>
<script src="js/map.js"></script>
</body>
</html>